/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hamburger{
	display: none;
}
/*
========================================
Formatting
========================================
*/
body{
	background: #161515 ;
	font-family: 'Verdana', sans-serif;
}

h1{
	color:#fff;
	font-size:45px;
}
small{
	color:#fff;
}

.grid{
	padding-top: 30px;
	padding-bottom: 30px;
	display:block;
	margin-bottom:10px;
}

.index{
	padding-top: 30px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}

/*
========================================
Header
========================================
*/
header{
	background-color: rgba(14,14,14,0.9);
	position: fixed;
	top:0;
	height:70px;
	width:100%;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	margin-bottom:80px;
	z-index: 1; 
}
.primary-nav{
	font-size: 17px;
	font-weight: 400;
	letter-spacing:.5px;
	text-transform: uppercase;
	padding-top:28px;
	padding-right: 10px
}
a{
	text-decoration: none;
	color: #fff;
	-webkit-tap-highlight-color: rgba(128,128,128,0.3);

}
a:hover{
	color: #e85c5c;
}

.nav a{
	transition:0.25s ease;
	-webkit-transition:0.25s ease;
	-o-transition:0.25s ease;
	-moz-transition:0.25s ease;
}

.nav{
	float:right;
	text-align:right;
	
}
.nav li{
	display: inline;
	margin: 0 30px;
	vertical-align:top;
}
.nav li:last-child{
	margin-right:10;
}
.current{
	color: #e85c5c;
}
.logo{
	padding-left:10px;
	padding-top:1px;
	padding-bottom:10px;
	height:70px;
	width: 70px;
	display:inline-block;
	float:left;
}
.header-text{
	padding-top:20px;
	font-size: 20px;
	padding-left:5px;
	color:#fff;
	float:left;
	text-align:center;
}
/*
========================================
Body
========================================
*/

.spacer{
	padding: 20px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	color: #161515;
}

.carousel{
	width:100%;
	
}
.poster{
	width:320px;
	height:530px;
	transition: .25s ease;
  	backface-visibility: hidden;
}
.movie-poster{
	margin-left:50px;
	margin-right:50px;
	
}

.poster-section{
	float: left;
	width: 100%;
	box-sizing: border-box;
	margin: auto;
}

.overlay {
	transition: .75s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
	box-sizing: border-box;
	margin: 0; 
	height: 70%;
	padding: 0;
	width: 80%;
	z-index: -1;


}

.poster-column:hover .overlay{
	opacity: 1;
	z-index: 0;

}

.poster-column:hover .poster{
	opacity: 0.1;
}
.button{
	display: block;
	color:#fff;
	font-size: 20px;
	border-radius: 2px;
  	cursor: pointer;
	border: 1px solid #fff;
    padding: 12px 10px;
	transition:0.25s ease;
	-webkit-transition:0.25s ease;
	-o-transition:0.25s ease;
	-moz-transition:0.25s ease;
	width: 55%;
	margin: auto;
	margin-bottom: 20px;
	
}

.button:hover{
	background: #e85c5c;
	color: #fff;
	
}

.button a:hover{
	color: #fff;
}

.overlay-text{
	font-size: 28px;
	color: #fff;
	margin-bottom: 5%;
	box-sizing: border-box;
	width: 80%;
	line-height: auto;
	text-align: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

.rating{
	height: 25%;
	width: auto;
	margin-bottom: 15%;
	z-index: -1;
}

.runtime{
	color: #fff;
	padding-bottom: 25px;
	font-size: 20px;
}
.still{
	width:100%;
	height:auto;
	
}
.movie {
	display: block;
	float: right;
}
/*
========================================
Carousel
========================================
*/

.text-overlay{
	position:absolute;
	bottom:0;
	right:0;
	background-color:rgba(0,0,0,0.8);
	color:#fff;
	padding-top: 20px;
    padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	text-align: left;
	line-height: 1.5;
	
}
.text-overlay h2{
	font-size: 34px;

}
.text-overlay p{
	font-size: 22px;
	font-style: italic;
}

/*
========================================
Footer
========================================
*/
footer{
	width:100%;
	height: 40px;
	background:#0E0E0E;
	padding-top:30px;
	padding-bottom:40px;
	padding-left:20px;
	padding-right:20px;
	float:left;
	box-sizing:border-box;
	
}

.secondary-nav{
	font-size: 14px;
	font-weight: 400;
	letter-spacing:.5px;
	padding:0;
	text-transform: uppercase;
	display: inline-block;
}

/*
========================================
Now Showing
========================================
*/

.offers{
	float: left;
	width: 100%;
	box-sizing: border-box;
	margin: auto;
	margin-top: 50px;
	text-align: left;
	color: #fff;

}

.col p{
	padding-bottom: 3%;
}

.col-1-2{
	float:left;
}

.col-2-2{
	float:right;

}

.col{
	margin-top:30px;
	margin-bottom:30px;
	padding: 10px 10px 10px 10px;
	margin-right: 10px;
	width: 48%;
	display:inline-block;
	box-sizing:border-box;
	text-align:left;
	position: relative;
	-webkit-tap-highlight-color: rgba(128,128,128,0.8);
	border:3px solid #7B2628;	
	border-radius: 20px;
	overflow: hidden;
}

.show-time{
	color:#fff;
	border:2px solid #fff;	
	border-radius: 2px;
	width: auto;
	list-style: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 4px 10px;
	margin: 0;
	float: left;
	text-align: center;
	cursor: pointer;
	margin-right: 20px;

}

.show-time:hover{
	color: #e85c5c;
	border:2px solid #e85c5c;
}

.show-time li{
	padding: 0;
	margin: 0;
	width: auto;
}

.day-of-week{
	display: inline-block;
	color: #fff;
	float: left;
	margin-right: 20px;
	padding-top: 3px;
}

.col h1{
	padding-bottom: 3%;
	font-size: 30px;
}

.col .poster{
	padding-right: 20px;
}
.col-no-border{
	width: 48%;
	list-style: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 4px 10px;
	margin: 0;
	float: left;
	text-align: center;
	cursor: pointer;
	margin-right: 20px;
}

.icon{
	width: auto;
	max-height: 400px;;
	height:auto;
	float: left;
	margin-top: auto;
	margin-bottom: auto;
}

.poster-column{
  	padding-top:30px;
	padding-bottom:30px;
	width: 20%;
	display:inline-block;
	box-sizing:border-box;
	float:left;
	text-align:center;
	position: relative;
	-webkit-tap-highlight-color: rgba(128,128,128,1);


}

.poster-column .poster{
	display:inline-block;	
}

.genre{
	color: #fff;
	display: inline-block;
	list-style: none;
	padding: 100px 50px 10px 50px;
	font-size: 20px;
}

.genre li {
	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;
    border-right: 1px solid #fff;	
}

.genre li:last-child {
	
    border-right: none;	
}
.movie-Page h1{
	text-align:center;
}
.movie-Page{
	padding: 0 25px 25px 25px;
	line-height:1.5;
}
.movie-Page p{
	text-align:justify;
	color: #fff;
	padding-top: 25px;
	
}


/*
========================================
Coming Soon
========================================
*/
.overlay p{
	color:#fff;
	text-transform:uppercase;
	font-size:22px;
}